### 模組一: 五日線、布林軌道
- 進場:突破上軌並且隔天沒有回跌昨天漲幅過半
- 出場:收盤價破布林軌道上軌

In [2]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df1 = backtest_strategy(df1, ma_period=15, bb_period=20, bb_std=1.83, drop_threshold=0.72)
df1

,日期,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,NaN,NaN,-0.032958,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,NaN,NaN,NaN,0.015584,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,NaN,NaN,NaN,0.005736,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,NaN,NaN,NaN,NaN,NaN,0.004563,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10280.200000,10252.40,88.406597,10414.184072,10090.615928,0.012929,0.0,1226.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10278.200000,10266.10,78.514430,10409.781408,10122.418592,-0.000290,0.0,1226.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10290.800000,10283.45,71.636124,10414.544106,10152.355894,0.007834,0.0,1226.0,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10303.333333,10296.30,68.671683,10421.969179,10170.630821,-0.001631,-17.0,1209.0,0,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10307.000000,10306.15,73.946122,10441.471403,10170.828597,0.003172,0.0,1209.0,0,3336

In [3]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
# 當 position 從 0 變成 1 時，是進場訊號
df1['entry'] = (df1['position'] == 1) & (df1['position'].shift(1) == 0)

# 當 position 從 1 變成 0 時，是出場訊號
df1['exit'] = (df1['position'] == 0) & (df1['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(
    df1,
)

# 印出績效報告
performance_df = pd.DataFrame([performance])

# 存成csv檔案
# performance_df.T.to_csv('module_one.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_df.T

                               0
最終權益 (Mark-to-Market)     1209.0
淨利或淨損 (已實現)               1209.0
最大回撤 (MDD)                 164.0
總獲利 (已實現)                 1535.0
總損失 (已實現)                 -326.0
總交易次數                         30
賺錢交易次數                        19
虧錢交易次數                        11
勝率                        63.33%
單次交易最大獲利                   254.0
單次交易最大損失                   -99.0
獲利交易中的平均獲利             80.789474
損失交易中的平均損失            -29.636364
賺賠比                     2.726025
最長的連續性獲利的次數                    6
最長的連續性損失的次數                    3

### 模組二: 五日線和二十日線
- 進場:五日線在二十日線之上
- 出場:(開盤價格 + 收盤價格) / 2的值小於五日線

In [5]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,日期,開盤價,最高價,最低價,收盤價,成交量,MA7,MA12,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,NaN,NaN,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10261.285714,10282.333333,0.0,1747.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10268.428571,10278.833333,0.0,1747.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10297.428571,10283.166667,0.0,1747.0,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10312.000000,10295.000000,0.0,1730.0,1,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10336.142857,10306.583333,0.0,1763.0,1,3336

In [6]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance_two = calculate_strategy_performance(df2)

# 印出績效報告
performance_two_df = pd.DataFrame([performance_two])

# 存成csv檔案
# performance_two_df.T.to_csv('module_two.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_two_df.T

                                0
最終權益 (Mark-to-Market)      1763.0
淨利或淨損 (已實現)                1747.0
最大回撤 (MDD)                  422.0
總獲利 (已實現)                  3460.0
總損失 (已實現)                 -1713.0
總交易次數                          56
賺錢交易次數                         33
虧錢交易次數                         23
勝率                         58.93%
單次交易最大獲利                    343.0
單次交易最大損失                   -168.0
獲利交易中的平均獲利             104.848485
損失交易中的平均損失             -74.478261
賺賠比                      1.407773
最長的連續性獲利的次數                     4
最長的連續性損失的次數                     3

### 模組三: 裸K
- 進場:過去三天、五天、十天均價程不斷墊高
- 出場:近三天均價低於近五天均價

In [7]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3)
df3

,日期,開盤價,最高價,最低價,收盤價,成交量,MA3,MA5,MA10,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,6979.666667,NaN,NaN,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,6950.666667,NaN,NaN,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,7010.333333,6999.4,NaN,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10251.666667,10264.6,10263.9,0.0,925.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10297.000000,10272.2,10271.7,0.0,925.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10367.000000,10302.8,10284.0,0.0,952.0,1,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10387.333333,10342.8,10299.1,0.0,935.0,1,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10419.666667,10388.0,10313.8,0.0,968.0,1,3336

In [8]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance_three = calculate_strategy_performance(df3)

# 印出績效報告
performance_three_df = pd.DataFrame([performance_three])

# 存成csv檔案
# performance_three_df.T.to_csv('module_three.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_three_df.T

                                0
最終權益 (Mark-to-Market)       968.0
淨利或淨損 (已實現)                 925.0
最大回撤 (MDD)                  832.0
總獲利 (已實現)                  4772.0
總損失 (已實現)                 -3847.0
總交易次數                          96
賺錢交易次數                         45
虧錢交易次數                         51
勝率                         46.88%
單次交易最大獲利                    326.0
單次交易最大損失                   -298.0
獲利交易中的平均獲利             106.044444
損失交易中的平均損失             -75.431373
賺賠比                       1.40584
最長的連續性獲利的次數                     4
最長的連續性損失的次數                     5

### 模組四: 五日線、布林軌道 - 延伸
- 進場:碰到布林上軌，做空；碰到布林下軌；做多。
- 出場:五日線超過上軌或下軌(多空都是)

In [ ]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df4 = backtest_strategy_four(df4, bb_period=5,bb_std=1, ma_long_period=9)
df4

,日期,開盤價,最高價,最低價,收盤價,成交量,BB_MA,BB_STD,BB_Upper,BB_Lower,MA9,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,6999.4,87.859547,7087.259547,6911.540453,NaN,0.0,0.000000,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10264.6,59.365815,10323.965815,10205.234185,10264.222222,0.0,8457.099398,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10272.2,67.117062,10339.317062,10205.082938,10268.888889,0.0,8457.099398,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10302.8,93.748067,10396.548067,10209.051933,10287.555556,0.0,8457.099398,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10342.8,82.514847,10425.314847,10260.285153,10300.222222,0.0,8457.099398,0,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10388.0,44.916589,10432.916589,10343.083411,10324.555556,0.0,8457.099398,0,3336

In [17]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
# 當 position 從 0 變成 1 時，是進場訊號
df4['entry'] = (df4['position'] == 1) & (df4['position'].shift(1) == 0)

# 當 position 從 1 變成 0 時，是出場訊號
df4['exit'] = (df4['position'] == 0) & (df4['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(
    df4,
)

# 印出績效報告
performance_df = pd.DataFrame([performance])

# 存成csv檔案
# performance_df.T.to_csv('module_one.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_df.T

                                 0
最終權益 (Mark-to-Market)  8457.099398
淨利或淨損 (已實現)            8457.099398
最大回撤 (MDD)              522.624695
總獲利 (已實現)              13188.06903
總損失 (已實現)             -4730.969632
總交易次數                          205
賺錢交易次數                         160
虧錢交易次數                          45
勝率                          78.05%
單次交易最大獲利                 338.38126
單次交易最大損失               -361.769751
獲利交易中的平均獲利               82.425431
損失交易中的平均損失             -105.132658
賺賠比                       0.784014
最長的連續性獲利的次數                     13
最長的連續性損失的次數                      4