## Sample one

### 模組一: 五日線、布林軌道
- 進場:突破上軌並且隔天沒有回跌昨天漲幅過半
- 出場:收盤價破布林軌道上軌

In [7]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df1 = backtest_strategy(df1, ma_period=15, bb_period=20, bb_std=1.83, drop_threshold=0.72)
df1

,日期,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,NaN,NaN,-0.032958,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,NaN,NaN,NaN,0.015584,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,NaN,NaN,NaN,0.005736,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,NaN,NaN,NaN,NaN,NaN,0.004563,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10280.200000,10252.40,88.406597,10414.184072,10090.615928,0.012929,0.0,1226.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10278.200000,10266.10,78.514430,10409.781408,10122.418592,-0.000290,0.0,1226.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10290.800000,10283.45,71.636124,10414.544106,10152.355894,0.007834,0.0,1226.0,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10303.333333,10296.30,68.671683,10421.969179,10170.630821,-0.001631,-17.0,1209.0,0,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10307.000000,10306.15,73.946122,10441.471403,10170.828597,0.003172,0.0,1209.0,0,3336

In [3]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
# 當 position 從 0 變成 1 時，是進場訊號
df1['entry'] = (df1['position'] == 1) & (df1['position'].shift(1) == 0)

# 當 position 從 1 變成 0 時，是出場訊號
df1['exit'] = (df1['position'] == 0) & (df1['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(
    df1,
)

# 印出績效報告
performance_df = pd.DataFrame([performance])

# 存成csv檔案
# performance_df.T.to_csv('module_one.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_df.T

                               0
最終權益 (Mark-to-Market)     1209.0
淨利或淨損 (已實現)               1209.0
最大回撤 (MDD)                 164.0
總獲利 (已實現)                 1535.0
總損失 (已實現)                 -326.0
總交易次數                         30
賺錢交易次數                        19
虧錢交易次數                        11
勝率                        63.33%
單次交易最大獲利                   254.0
單次交易最大損失                   -99.0
獲利交易中的平均獲利             80.789474
損失交易中的平均損失            -29.636364
賺賠比                     2.726025
最長的連續性獲利的次數                    6
最長的連續性損失的次數                    3

### 模組二: 五日線和二十日線
- 進場:五日線在二十日線之上
- 出場:(開盤價格 + 收盤價格) / 2的值小於五日線

In [5]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,日期,開盤價,最高價,最低價,收盤價,成交量,MA7,MA12,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,NaN,NaN,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10261.285714,10282.333333,0.0,1747.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10268.428571,10278.833333,0.0,1747.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10297.428571,10283.166667,0.0,1747.0,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10312.000000,10295.000000,0.0,1730.0,1,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10336.142857,10306.583333,0.0,1763.0,1,3336

In [6]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance_two = calculate_strategy_performance(df2)

# 印出績效報告
performance_two_df = pd.DataFrame([performance_two])

# 存成csv檔案
# performance_two_df.T.to_csv('module_two.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_two_df.T

                                0
最終權益 (Mark-to-Market)      1763.0
淨利或淨損 (已實現)                1747.0
最大回撤 (MDD)                  422.0
總獲利 (已實現)                  3460.0
總損失 (已實現)                 -1713.0
總交易次數                          56
賺錢交易次數                         33
虧錢交易次數                         23
勝率                         58.93%
單次交易最大獲利                    343.0
單次交易最大損失                   -168.0
獲利交易中的平均獲利             104.848485
損失交易中的平均損失             -74.478261
賺賠比                      1.407773
最長的連續性獲利的次數                     4
最長的連續性損失的次數                     3

### 模組三: 裸K
- 進場:過去三天、五天、十天均價程不斷墊高
- 出場:近三天均價低於近五天均價

In [7]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3)
df3

,日期,開盤價,最高價,最低價,收盤價,成交量,MA3,MA5,MA10,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,6979.666667,NaN,NaN,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,6950.666667,NaN,NaN,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,7010.333333,6999.4,NaN,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10251.666667,10264.6,10263.9,0.0,925.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10297.000000,10272.2,10271.7,0.0,925.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10367.000000,10302.8,10284.0,0.0,952.0,1,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10387.333333,10342.8,10299.1,0.0,935.0,1,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10419.666667,10388.0,10313.8,0.0,968.0,1,3336

In [8]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 計算策略績效
performance_three = calculate_strategy_performance(df3)

# 印出績效報告
performance_three_df = pd.DataFrame([performance_three])

# 存成csv檔案
# performance_three_df.T.to_csv('module_three.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_three_df.T

                                0
最終權益 (Mark-to-Market)       968.0
淨利或淨損 (已實現)                 925.0
最大回撤 (MDD)                  832.0
總獲利 (已實現)                  4772.0
總損失 (已實現)                 -3847.0
總交易次數                          96
賺錢交易次數                         45
虧錢交易次數                         51
勝率                         46.88%
單次交易最大獲利                    326.0
單次交易最大損失                   -298.0
獲利交易中的平均獲利             106.044444
損失交易中的平均損失             -75.431373
賺賠比                       1.40584
最長的連續性獲利的次數                     4
最長的連續性損失的次數                     5

### 模組四: 五日線、布林軌道 - 延伸
- 進場:碰到布林上軌，做空；碰到布林下軌；做多。
- 出場:五日線超過上軌或下軌(多空都是)

In [ ]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df4 = backtest_strategy_four(df4, bb_period=5,bb_std=1, ma_long_period=9)
df4

,日期,開盤價,最高價,最低價,收盤價,成交量,BB_MA,BB_STD,BB_Upper,BB_Lower,MA12,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10260.125,49.217992,10338.381607,10181.868393,10282.333333,131.536639,2927.546568,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10271.000,56.272297,10360.472952,10181.527048,10278.833333,0.000000,2927.546568,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10287.375,77.365436,10410.386044,10164.363956,10283.166667,0.000000,2927.546568,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10310.625,81.055426,10439.503128,10181.746872,10295.000000,0.000000,2927.546568,0,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10327.500,92.069849,10473.891060,10181.108940,10306.583333,0.000000,2927.546568,0,3336

In [ ]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_performance

# 從 position 欄位產生進出場訊號
# 當 position 從 0 變成 1 時，是進場訊號
df4['entry'] = (df4['position'] == 1) & (df4['position'].shift(1) == 0)

# 當 position 從 1 變成 0 時，是出場訊號
df4['exit'] = (df4['position'] == 0) & (df4['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_performance(
    df4,
)

# 印出績效報告
performance_df = pd.DataFrame([performance])

# 存成csv檔案
# performance_df.T.to_csv('module_four.csv',
#                         header=['Value'],  # 欄位名稱 (y 軸)
#                         index_label='Metric')  # 列名 (x 軸)

performance_df.T

                                 0
最終權益 (Mark-to-Market)  8457.099398
淨利或淨損 (已實現)            8457.099398
最大回撤 (MDD)              522.624695
總獲利 (已實現)              13188.06903
總損失 (已實現)             -4730.969632
總交易次數                          205
賺錢交易次數                         160
虧錢交易次數                          45
勝率                          78.05%
單次交易最大獲利                 338.38126
單次交易最大損失               -361.769751
獲利交易中的平均獲利               82.425431
損失交易中的平均損失             -105.132658
賺賠比                       0.784014
最長的連續性獲利的次數                     13
最長的連續性損失的次數                      4

## Sample two

### sample two - module one
- bb_period=26
- bb_std=1.75
- drop_threshold=0.65

In [6]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/TPE-sample2.csv", encoding="utf-8")
df1 = backtest_strategy(df1, bb_period=26, bb_std=1.75, drop_threshold=0.65)
df1

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2006/01/02,6457.61,6492.92,6424.03,6462.06,4697272,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2006/01/03,6476.20,6591.77,6457.09,6591.77,5214136,NaN,NaN,NaN,NaN,NaN,0.020073,0.0,0.00,0,129.71
2,2006/01/04,6658.32,6670.96,6579.66,6616.44,5910064,NaN,NaN,NaN,NaN,NaN,0.003743,0.0,0.00,0,154.38
3,2006/01/05,6669.80,6717.12,6666.84,6709.87,5851695,NaN,NaN,NaN,NaN,NaN,0.014121,0.0,0.00,0,247.81
4,2006/01/06,6757.41,6761.01,6676.65,6694.82,5904757,6614.992,NaN,NaN,NaN,NaN,-0.002243,0.0,0.00,0,232.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2011/12/26,7125.04,7125.67,7078.06,7092.58,2535001,6959.756,6935.469231,139.099973,7178.894183,6692.044278,-0.002552,0.0,34.42,0,630.52
1489,2011/12/27,7085.50,7107.67,7043.64,7085.03,2489290,7044.234,6937.099615,140.646194,7183.230455,6690.968775,-0.001064,0.0,34.42,0,622.97
1490,2011/12/28,7086.10,7093.47,7036.92,7056.67,2535123,7062.272,6939.278077,142.091133,7187.937560,6690.618593,-0.004003,0.0,34.42,0,594.61
1491,2011/12/29,7026.86,7074.82,6998.97,7074.82,2222251,7083.966,6949.600769,141.802644,7197.755397,6701.446142,0.002572,0.0,34.42,0,612.76
1492,2011/12/30,7109.85,7139.03,7054.79,7072.08,2529183,7076.236,6957.588846,142.657771,7207.239946,6707.937747,-0.000387,0.0,34.42,0,610.02

### sample two - module two
- short_ma_period=7
- long_ma_period=12

In [11]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/TPE-sample2.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA7,MA12,ret,cus,position,BH
0,2006/01/02,6457.61,6492.92,6424.03,6462.06,4697272,NaN,NaN,0.0,0.00,0,0.00
1,2006/01/03,6476.20,6591.77,6457.09,6591.77,5214136,NaN,NaN,0.0,0.00,0,129.71
2,2006/01/04,6658.32,6670.96,6579.66,6616.44,5910064,NaN,NaN,0.0,0.00,0,154.38
3,2006/01/05,6669.80,6717.12,6666.84,6709.87,5851695,NaN,NaN,0.0,0.00,0,247.81
4,2006/01/06,6757.41,6761.01,6676.65,6694.82,5904757,NaN,NaN,0.0,0.00,0,232.76
...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2011/12/26,7125.04,7125.67,7078.06,7092.58,2535001,6888.171429,6886.917500,0.0,597.94,0,630.52
1489,2011/12/27,7085.50,7107.67,7043.64,7085.03,2489290,6931.020000,6902.895000,0.0,597.47,1,622.97
1490,2011/12/28,7086.10,7093.47,7036.92,7056.67,2535123,6991.497143,6911.864167,0.0,569.11,1,594.61
1491,2011/12/29,7026.86,7074.82,6998.97,7074.82,2222251,7050.380000,6926.740000,0.0,587.26,1,612.76
1492,2011/12/30,7109.85,7139.03,7054.79,7072.08,2529183,7065.465714,6939.199167,0.0,584.52,1,610.02

### sample two - module three
- ma_short=2
- ma_medium=8
- ma_long=14

In [12]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/TPE-sample2.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3, ma_short=2, ma_medium=8, ma_long=14)
df3

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA2,MA8,MA14,ret,cus,position,BH
0,2006/01/02,6457.61,6492.92,6424.03,6462.06,4697272,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2006/01/03,6476.20,6591.77,6457.09,6591.77,5214136,6526.915,NaN,NaN,0.0,0.00,0,129.71
2,2006/01/04,6658.32,6670.96,6579.66,6616.44,5910064,6604.105,NaN,NaN,0.0,0.00,0,154.38
3,2006/01/05,6669.80,6717.12,6666.84,6709.87,5851695,6663.155,NaN,NaN,0.0,0.00,0,247.81
4,2006/01/06,6757.41,6761.01,6676.65,6694.82,5904757,6702.345,NaN,NaN,0.0,0.00,0,232.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2011/12/26,7125.04,7125.67,7078.06,7092.58,2535001,7101.655,6872.72375,6904.207857,0.0,2145.45,0,630.52
1489,2011/12/27,7085.50,7107.67,7043.64,7085.03,2489290,7088.805,6912.77875,6907.924286,0.0,2145.45,0,622.97
1490,2011/12/28,7086.10,7093.47,7036.92,7056.67,2535123,7070.850,6946.72625,6913.193571,0.0,2116.02,1,594.61
1491,2011/12/29,7026.86,7074.82,6998.97,7074.82,2222251,7065.745,7001.91250,6926.159286,0.0,2134.17,1,612.76
1492,2011/12/30,7109.85,7139.03,7054.79,7072.08,2529183,7073.450,7053.09250,6934.947857,0.0,2131.43,1,610.02

### sample two - module four
- bb_period=8
- bb_std=1.59
- ma_long_period=12

In [3]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/TPE-sample2.csv", encoding="utf-8")
df4 = backtest_strategy_four(df4, bb_period=8,bb_std=1.59, ma_long_period=12)
df4

,年月日,開盤價,最高價,最低價,收盤價,成交量,BB_MA,BB_STD,BB_Upper,BB_Lower,MA12,ret,cus,position,BH
0,2006/01/02,6457.61,6492.92,6424.03,6462.06,4697272,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,0.00
1,2006/01/03,6476.20,6591.77,6457.09,6591.77,5214136,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,129.71
2,2006/01/04,6658.32,6670.96,6579.66,6616.44,5910064,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,154.38
3,2006/01/05,6669.80,6717.12,6666.84,6709.87,5851695,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,247.81
4,2006/01/06,6757.41,6761.01,6676.65,6694.82,5904757,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,0,232.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,2011/12/26,7125.04,7125.67,7078.06,7092.58,2535001,6872.72375,186.454509,7169.186419,6576.261081,6886.917500,0.0,1384.635738,0,630.52
1489,2011/12/27,7085.50,7107.67,7043.64,7085.03,2489290,6912.77875,194.165908,7221.502543,6604.054957,6902.895000,0.0,1384.635738,0,622.97
1490,2011/12/28,7086.10,7093.47,7036.92,7056.67,2535123,6946.72625,192.384886,7252.618219,6640.834281,6911.864167,0.0,1384.635738,0,594.61
1491,2011/12/29,7026.86,7074.82,6998.97,7074.82,2222251,7001.91250,147.798237,7236.911697,6766.913303,6926.740000,0.0,1384.635738,0,612.76
1492,2011/12/30,7109.85,7139.03,7054.79,7072.08,2529183,7053.09250,55.770886,7141.768209,6964.416791,6939.199167,0.0,1384.635738,0,610.02

## Sample three

### sample three - module one
- bb_period=26
- bb_std=1.75
- drop_threshold=0.65

In [8]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/TPE-sample3.csv", encoding="utf-8")
df1 = backtest_strategy(df1, bb_period=26, bb_std=1.75, drop_threshold=0.65)
df1

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2017/07/18,10447.47,10481.26,10429.85,10481.26,4840898,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0,0.00
1,2017/07/19,10472.81,10537.42,10472.81,10506.10,5429199,NaN,NaN,NaN,NaN,NaN,0.002370,0.0,0.00,0,24.84
2,2017/07/20,10513.12,10534.52,10483.54,10499.36,5016236,NaN,NaN,NaN,NaN,NaN,-0.000642,0.0,0.00,0,18.10
3,2017/07/21,10468.47,10477.72,10428.56,10436.70,4167695,NaN,NaN,NaN,NaN,NaN,-0.005968,0.0,0.00,0,-44.56
4,2017/07/24,10426.13,10461.28,10406.81,10461.28,3935837,10476.940,NaN,NaN,NaN,NaN,0.002355,0.0,0.00,0,-19.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,2022/12/07,14708.08,14823.15,14630.01,14630.01,6813484,14864.622,14260.218846,666.926254,15427.339791,13093.097902,-0.006713,0.0,1753.91,0,4148.75
1324,2022/12/08,14631.21,14634.16,14464.20,14553.04,5406640,14772.670,14316.098462,625.415407,15410.575424,13221.621499,-0.005261,0.0,1753.91,0,4071.78
1325,2022/12/09,14620.27,14742.79,14620.27,14705.43,5485304,14719.620,14382.207308,567.414974,15375.183512,13389.231104,0.010471,0.0,1753.91,0,4224.17
1326,2022/12/12,14658.46,14658.46,14538.66,14612.59,4583948,14645.990,14443.202692,496.707789,15312.441322,13573.964062,-0.006313,0.0,1753.91,0,4131.33
1327,2022/12/13,14617.86,14658.70,14515.74,14522.96,4932595,14604.806,14493.173077,429.990244,15245.656003,13740.690151,-0.006134,0.0,1753.91,0,4041.70

### sample three - module two
- short_ma_period=7
- long_ma_period=12

In [2]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_two import backtest_strategy_two

df2 = pd.read_csv("../data/TPE-sample3.csv", encoding="utf-8")
df2 = backtest_strategy_two(df2, short_ma_period=7, long_ma_period=12)
df2

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA7,MA12,ret,cus,position,BH
0,2017/07/18,10447.47,10481.26,10429.85,10481.26,4840898,NaN,NaN,0.0,0.00,0,0.00
1,2017/07/19,10472.81,10537.42,10472.81,10506.10,5429199,NaN,NaN,0.0,0.00,0,24.84
2,2017/07/20,10513.12,10534.52,10483.54,10499.36,5016236,NaN,NaN,0.0,0.00,0,18.10
3,2017/07/21,10468.47,10477.72,10428.56,10436.70,4167695,NaN,NaN,0.0,0.00,0,-44.56
4,2017/07/24,10426.13,10461.28,10406.81,10461.28,3935837,NaN,NaN,0.0,0.00,0,-19.98
...,...,...,...,...,...,...,...,...,...,...,...,...
1323,2022/12/07,14708.08,14823.15,14630.01,14630.01,6813484,14844.614286,14765.201667,0.0,5772.75,0,4148.75
1324,2022/12/08,14631.21,14634.16,14464.20,14553.04,5406640,14822.242857,14766.105000,0.0,5772.75,0,4071.78
1325,2022/12/09,14620.27,14742.79,14620.27,14705.43,5485304,14797.368571,14774.179167,0.0,5772.75,0,4224.17
1326,2022/12/12,14658.46,14658.46,14538.66,14612.59,4583948,14740.195714,14759.895000,0.0,5772.75,0,4131.33
1327,2022/12/13,14617.86,14658.70,14515.74,14522.96,4932595,14676.235714,14738.599167,0.0,5772.75,0,4041.70

### sample three - module three
- ma_short=2
- ma_medium=8
- ma_long=14

In [3]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
from lib.backtest.strategy_three import backtest_strategy_three

df3 = pd.read_csv("../data/TPE-sample3.csv", encoding="utf-8")
df3 = backtest_strategy_three(df3, ma_short=2, ma_medium=8, ma_long=14)
df3

,年月日,開盤價,最高價,最低價,收盤價,成交量,MA2,MA8,MA14,ret,cus,position,BH
0,2017/07/18,10447.47,10481.26,10429.85,10481.26,4840898,NaN,NaN,NaN,0.00,0.00,0,0.00
1,2017/07/19,10472.81,10537.42,10472.81,10506.10,5429199,10493.680,NaN,NaN,0.00,0.00,0,24.84
2,2017/07/20,10513.12,10534.52,10483.54,10499.36,5016236,10502.730,NaN,NaN,0.00,0.00,0,18.10
3,2017/07/21,10468.47,10477.72,10428.56,10436.70,4167695,10468.030,NaN,NaN,0.00,0.00,0,-44.56
4,2017/07/24,10426.13,10461.28,10406.81,10461.28,3935837,10448.990,NaN,NaN,0.00,0.00,0,-19.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,2022/12/07,14708.08,14823.15,14630.01,14630.01,6813484,14679.445,14808.64625,14724.057143,1520.66,3515.43,0,4148.75
1324,2022/12/08,14631.21,14634.16,14464.20,14553.04,5406640,14591.525,14808.16750,14727.489286,0.00,3515.43,0,4071.78
1325,2022/12/09,14620.27,14742.79,14620.27,14705.43,5485304,14629.235,14807.64125,14745.777857,0.00,3515.43,0,4224.17
1326,2022/12/12,14658.46,14658.46,14538.66,14612.59,4583948,14659.010,14774.27125,14750.805714,0.00,3515.43,0,4131.33
1327,2022/12/13,14617.86,14658.70,14515.74,14522.96,4932595,14567.775,14713.04125,14744.692857,0.00,3515.43,0,4041.70

### sample three - module four
- bb_period=8
- bb_std=1.59
- ma_long_period=12

In [ ]:
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_four import backtest_strategy_four



df4 = pd.read_csv("../data/TPE-sample3.csv", encoding="utf-8")
df4 = backtest_strategy_four(df4, bb_period=8,bb_std=1.59, ma_long_period=12)
df4

,年月日,開盤價,最高價,最低價,收盤價,成交量,BB_MA,BB_STD,BB_Upper,BB_Lower,MA9,ret,cus,position,BH
0,2017/07/18,10447.47,10481.26,10429.85,10481.26,4840898,NaN,NaN,NaN,NaN,NaN,0.0,0.00000,0,0.00
1,2017/07/19,10472.81,10537.42,10472.81,10506.10,5429199,NaN,NaN,NaN,NaN,NaN,0.0,0.00000,0,24.84
2,2017/07/20,10513.12,10534.52,10483.54,10499.36,5016236,NaN,NaN,NaN,NaN,NaN,0.0,0.00000,0,18.10
3,2017/07/21,10468.47,10477.72,10428.56,10436.70,4167695,NaN,NaN,NaN,NaN,NaN,0.0,0.00000,0,-44.56
4,2017/07/24,10426.13,10461.28,10406.81,10461.28,3935837,10476.940,28.443442,10505.383442,10448.496558,NaN,0.0,0.00000,0,-19.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,2022/12/07,14708.08,14823.15,14630.01,14630.01,6813484,14864.622,173.318414,15037.940414,14691.303586,14805.297778,0.0,8553.33539,0,4148.75
1324,2022/12/08,14631.21,14634.16,14464.20,14553.04,5406640,14772.670,195.581097,14968.251097,14577.088903,14780.245556,0.0,8553.33539,0,4071.78
1325,2022/12/09,14620.27,14742.79,14620.27,14705.43,5485304,14719.620,161.438538,14881.058538,14558.181462,14796.752222,0.0,8553.33539,0,4224.17
1326,2022/12/12,14658.46,14658.46,14538.66,14612.59,4583948,14645.990,71.439640,14717.429640,14574.550360,14785.968889,0.0,8553.33539,0,4131.33
1327,2022/12/13,14617.86,14658.70,14515.74,14522.96,4932595,14604.806,71.062487,14675.868487,14533.743513,14746.347778,0.0,8553.33539,0,4041.70