In [1]:
# 模組一: 五日線、布林軌道
# 進場:突破上軌並且隔天沒有回跌昨天漲幅過半
# 出場:收盤價破中間五日線
%reload_ext autoreload
%autoreload 2

# 使用範例
import pandas as pd
from lib.backtest.strategy_one import backtest_strategy



df1 = pd.read_csv("../data/TPE-sample1.csv", encoding="utf-8")
df1 = backtest_strategy(df1)
df1

,日期,開盤價,最高價,最低價,收盤價,成交量,MA5,BB_MA,BB_STD,BB_Upper,BB_Lower,prev_gain,ret,cus,position,BH
0,2012/06/01,7200,7210,7075,7100,148958,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0,0
1,2012/06/04,6927,6930,6832,6866,136278,NaN,NaN,NaN,NaN,NaN,-0.032958,0.0,0.0,0,-234
2,2012/06/05,6949,7005,6925,6973,119982,NaN,NaN,NaN,NaN,NaN,0.015584,0.0,0.0,0,-127
3,2012/06/06,6989,7055,6958,7013,119994,NaN,NaN,NaN,NaN,NaN,0.005736,0.0,0.0,0,-87
4,2012/06/07,7135,7146,7020,7045,109350,6999.4,NaN,NaN,NaN,NaN,0.004563,0.0,0.0,0,-55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2017/07/11,10232,10356,10228,10342,141931,10264.6,10252.40,88.406597,10429.213193,10075.586807,0.012929,0.0,363.0,0,3242
1257,2017/07/12,10346,10383,10330,10339,114330,10272.2,10266.10,78.514430,10423.128861,10109.071139,-0.000290,0.0,363.0,0,3239
1258,2017/07/13,10393,10442,10371,10420,143543,10302.8,10283.45,71.636124,10426.722247,10140.177753,0.007834,0.0,363.0,0,3320
1259,2017/07/14,10420,10424,10391,10403,79383,10342.8,10296.30,68.671683,10433.643365,10158.956635,-0.001631,0.0,363.0,0,3303
1260,2017/07/17,10458,10480,10414,10436,137588,10388.0,10306.15,73.946122,10454.042244,10158.257756,0.003172,0.0,363.0,0,3336

In [2]:
%reload_ext autoreload
%autoreload 2

from lib.performance_analysis import calculate_strategy_one_performance

# 從 position 欄位產生進出場訊號
# 當 position 從 0 變成 1 時，是進場訊號
df1['entry'] = (df1['position'] == 1) & (df1['position'].shift(1) == 0)

# 當 position 從 1 變成 0 時，是出場訊號
df1['exit'] = (df1['position'] == 0) & (df1['position'].shift(1) == 1)

# 計算策略績效
performance = calculate_strategy_one_performance(
    df1,
)

# 印出績效報告
performance_df = pd.DataFrame([performance])
performance_df.T

                               0
最終權益 (Mark-to-Market)      363.0
淨利或淨損 (已實現)                363.0
最大回撤 (MDD)                 280.0
總獲利 (已實現)                 1006.0
總損失 (已實現)                 -643.0
總交易次數                         22
賺錢交易次數                        11
虧錢交易次數                        11
勝率                        50.00%
單次交易最大獲利                   261.0
單次交易最大損失                  -129.0
獲利交易中的平均獲利             91.454545
損失交易中的平均損失            -58.454545
賺賠比                     1.564541
最長的連續性獲利的次數                    3
最長的連續性損失的次數                    3

In [ ]:
# 模組二: 五日線和二十日線
# 進場:五日線在二十日線之上、乖離破五%
# 出場:(開盤價格 + 收盤價格) / 2的值小於五日線

In [ ]:
# 模組三: 裸K
# 進場:過去三天、五天、十天均價程不斷墊高
# 出場:近三天均價低於近五天均價